@use '@solaris/styles' as *;

.modal {
  background: $background-fact;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &__close {
    position: absolute;
    top: -2rem;
    right: 2rem;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 8rem;
  }

  .about-body {
    position: relative;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__desc {
      margin-top: 1rem;
    }

    &__facts {
      display: flex;
      justify-content: space-between;
      padding: 2rem 3rem;
      border-top: $border;
      border-bottom: $border;

      &--section {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h3 {
          display: flex;
          flex-direction: column;
          width: 0;
          overflow: hidden;
          white-space: nowrap;
          animation: typing 5s steps(40, end) forwards;
          animation-delay: 1.5s;
        }
      }
    }

    &__moons {
      &--moons {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;
      }
    }
  }

  .btn {
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
