@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto+Condensed:wght@300&family=Secular+One&display=swap');

$baseline: 16px;

/* COLORS */
$text-color: #ffffff;
$accent-color: #ffd029;
$sun-color: $accent-color;
$mercury-color: #888888;
$venus-color: #e7cdcd;
$earth-color: #428ed4;
$mars-color: #ef5f5f;
$jupiter-color: #e29468;
$saturn-color: #c7aa72;
$uranus-color: #c9d4f1;
$neptune-color: #7a91a7;
$border-color: #ffffff33;
$shadow-color: rgba(0, 0, 0, 0.5);

/* BACKGROUND COLORS */
$background-home: linear-gradient(-90deg, #0c164d 0%, #190b22 100%);
$background-fact: linear-gradient(90deg, #0c164d 0%, #190b22 100%);

/* BOX-SHADOW */
$shadow-huge: inset -25px -25px 40px $shadow-color;
$shadow-large: inset -15px -15px 20px $shadow-color;
$shadow-medium: inset -10px -10px 15px $shadow-color;
$shadow-small: inset -5px -5px 10px $shadow-color;
$shadow-tiny: inset -2px -2px 5px $shadow-color;
$shadow-sun: inset 0 0 18px #fff, inset 6px 0 18px #ffd700,
  inset -6px 0 18px #ffcc00, inset 6px 0 30px #ffd700, inset -6px 0 30px #ffcc00,
  0 0 18px #fff, -4px 0 18px #ffd700, 4px 0 18px #ffcc00, $shadow-huge;
$shadow-mercury: inset 0 0 5px #ffffff, inset 2px 0 5px #888888,
  inset -2px 0 5px #666666, inset 2px 0 8px #888888, inset -2px 0 8px #666666,
  0 0 5px #ffffff, -2px 0 5px #888888, 2px 0 5px #666666, $shadow-medium;
$shadow-venus: inset 0 0 10px #ffffff, inset 4px 0 10px #e7cdcd,
  inset -4px 0 10px #d4b1b1, inset 4px 0 15px #e7cdcd, inset -4px 0 15px #d4b1b1,
  0 0 10px #ffffff, -2px 0 10px #e7cdcd, 2px 0 10px #d4b1b1, $shadow-large;
$shadow-earth: inset 0 0 10px #ffffff, inset 4px 0 10px #428ed4,
  inset -4px 0 10px #2e6a9a, inset 4px 0 15px #428ed4, inset -4px 0 15px #2e6a9a,
  0 0 10px #ffffff, -2px 0 10px #428ed4, 2px 0 10px #2e6a9a, $shadow-large;
$shadow-mars: inset 0 0 10px #ffffff, inset 4px 0 10px #ef5f5f,
  inset -4px 0 10px #c44545, inset 4px 0 15px #ef5f5f, inset -4px 0 15px #c44545,
  0 0 10px #ffffff, -2px 0 10px #ef5f5f, 2px 0 10px #c44545, $shadow-large;
$shadow-jupiter: inset 0 0 10px #ffffff, inset 6px 0 10px #e29468,
  inset -6px 0 10px #c98156, inset 6px 0 15px #e29468, inset -6px 0 15px #c98156,
  0 0 10px #ffffff, -4px 0 10px #e29468, 4px 0 10px #c98156, $shadow-large;
$shadow-saturn: inset 0 0 10px #ffffff, inset 6px 0 10px #c7aa72,
  inset -6px 0 10px #a68755, inset 6px 0 15px #c7aa72, inset -6px 0 15px #a68755,
  0 0 10px #ffffff, -4px 0 10px #c7aa72, 4px 0 10px #a68755, $shadow-huge;
$shadow-uranus: inset 0 0 10px #ffffff, inset 6px 0 10px #c9d4f1,
  inset -6px 0 10px #a5b8d6, inset 6px 0 15px #c9d4f1, inset -6px 0 15px #a5b8d6,
  0 0 10px #ffffff, -4px 0 10px #c9d4f1, 4px 0 10px #a5b8d6, $shadow-large;
$shadow-neptune: inset 0 0 10px #ffffff, inset 6px 0 10px #7a91a7,
  inset -6px 0 10px #5c7385, inset 6px 0 15px #7a91a7, inset -6px 0 15px #5c7385,
  0 0 10px #ffffff, -4px 0 10px #7a91a7, 4px 0 10px #5c7385, $shadow-large;

/* BORDER */
$border: 1px solid $border-color;

/* RESPONSIVE */
$mobileBreakpoint: 30rem;
$tabletBreakpoint: 40rem;
$desktopBreakpoint: 60rem;

:root {
  color: $text-color;
}

/* TYPOGRAPHY */
@mixin large-header {
  font-family: 'Secular One', sans-serif;
  font-size: calc($baseline * 3.75);
  font-weight: 400;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

@mixin sub-header {
  color: $accent-color;
  font-family: 'Lora', serif;
  font-size: calc($baseline * 1.5);
  font-weight: 400;
  letter-spacing: 0.6em;
  text-transform: uppercase;
}

@mixin small-header {
  font-family: 'Secular One', sans-serif;
  font-size: calc($baseline * 1.1);
  font-weight: 400;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

@mixin text {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: calc($baseline * 1.1);
  font-weight: 300;
  line-height: calc($baseline * 1.9);
}

/* HELPERS */
@mixin reset {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
