@use '@solaris/styles' as *;

* {
  @include reset;
}
body {
  background: $background-home;
  height: 100vh;
  min-width: 100vw;
  scroll-behavior: smooth;

  .App {
    .large-header {
      @include large-header;
    }

    .sub-header {
      @include sub-header;
    }

    .small-header {
      @include small-header;
    }

    .text {
      @include text;
    }
  }
}
