@use '@solaris/styles' as *;

.home-page {
  @include flex-column;
  position: relative;
  padding: 2rem;

  &__searchbar {
    display: flex;
    gap: 1rem;

    input {
      border: none;
      border-radius: 5px;
      padding-left: 0.5rem;
    }
  }

  &__header {
    align-self: flex-end;
    text-align: end;
  }
}
