@use '@solaris/styles' as *;

.home-page {
  height: 100vh;
  background: $background-home;
  display: flex;
  flex-direction: column;
  padding: 2rem;

  &__header {
    align-self: flex-end;
    text-align: end;
  }
}
